In [3]:
print(5)

5

In [4]:
import pandas as pd
import pymysql #this will work as adapter
from sqlalchemy import create_engine

ModuleNotFoundError: No module named 'pymysql'

In [5]:
df=pd.read_csv("supply_chain_data.csv")

In [6]:
df.head()

,Product type,SKU,Price,Availability,Number of products sold,Revenue generated,Customer demographics,Stock levels,Lead times,Order quantities,...,Location,Lead time,Production volumes,Manufacturing lead time,Manufacturing costs,Inspection results,Defect rates,Transportation modes,Routes,Costs
0,haircare,SKU0,69.808006,55,802,8661.996792,Non-binary,58,7,96,...,Mumbai,29,215,29,46.279879,Pending,0.226410,Road,Route B,187.752075
1,skincare,SKU1,14.843523,95,736,7460.900065,Female,53,30,37,...,Mumbai,23,517,30,33.616769,Pending,4.854068,Road,Route B,503.065579
2,haircare,SKU2,11.319683,34,8,9577.749626,Unknown,1,10,88,...,Mumbai,12,971,27,30.688019,Pending,4.580593,Air,Route C,141.920282
3,skincare,SKU3,61.163343,68,83,7766.836426,Non-binary,23,13,59,...,Kolkata,24,937,18,35.624741,Fail,4.746649,Rail,Route A,254.776159
4,skincare,SKU4,4.805496,26,871,2686.505152,Non-binary,5,3,56,...,Delhi,5,414,3,92.065161,Fail,3.145580,Air,Route A,923.440632

In [ ]:
df.duplicated().sum()
df.isnull().sum()

In [ ]:
df.dropna(inplace=True)

In [ ]:
df.isnull().sum()

In [ ]:
df.to_csv('clean_data.csv', index=False)

In [ ]:
engine_mysql= create_engine("mysql+pymysql://root:Manthan#99@localhost:3306/netflix_db")
try:
    engine_mysql
    print("Connection Successed to mysql")
except:
    print("Unable to connect")

In [ ]:
df.to_sql(name='SCM_db', con=engine_mysql, if_exists='append', index=False)